@import '../../../assets/styles/variables';
@import '../../../assets/keyframes.scss';

:host {
  width: 33%;
  height: 100%;
  position: relative;
}

.flip-card {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &-show {
    &-1, &-2 {
      animation:
        moveYFromTop 3s ease-in-out forwards,
        growAndAppear 3s ease-in-out forwards,
        shrinkAndShake 2s ease-in-out 3s forwards,
        rotateY 1s ease-in-out 5s forwards,
    }

    &-3 {
      animation: 
        moveYFromTopButLess 10s ease-in-out forwards,
        growAndAppear 5s ease-in-out forwards,
        shrinkAndShake 2s ease-in-out 5s forwards,
        shrinkAndShake 1s ease-in-out 8s forwards,
        shrinkAndShake 0.5s ease-in-out 10s forwards,
        rotateMoreEpic 1s ease-in-out 11s forwards
    }
  }

  &-all-revealed {
    &-1, &-2 {
      top: calc(50vh - 300px/1.5);
    }

    &-3 {
      top: calc(50vh - 400px/1.5);
    }
  }

  &-beat {
    animation: 
      beat 3.25s ease-in-out 4 forwards;
  }

  &-dance-tusa {
    animation:
      danceTusa 2s ease-in-out infinite forwards;
  }
}

.flip-card-img {
  position: absolute;
  width: 300px;
  height: auto;
  margin: 10px;
  backface-visibility: hidden;

  &-1 {
    transform: rotateY(180deg);
    animation:
      moveXFromLeft 3s ease-in-out forwards,
  }
  &-2 {
    transform: rotateY(180deg);
    animation:
      moveXFromRight 3s ease-in-out forwards,
  }
  &-3 {
    transform: rotateY(180deg);
    width: 375px; 
  }
}
