<p-card *ngIf="this.virgiCard">
  <div class="container">
    <div class="card-image">
      <img [src]="virgiCard.picture" alt="">
    </div>
    <div class="virgo-data">
      <div class="virgo-title">
        <h1>{{virgiCard.name}}</h1>
      </div>
      <div class="virgo-description">
        <h2>Tipo: {{virgiCard.type}}</h2>
        <h2>Rareza: {{virgiCard.rarity}}</h2>
        <h2>Raiting: {{virgiCard.rating}}</h2>
        <h2>Nota: {{virgoNota}}</h2>
        <h2>EN JUEGO: <span *ngIf="isInVirgoGameLabel"> {{isInVirgoGameLabel}} </span> </h2>
        <img *ngIf="isInVirgoGamePicture" [src]="isInVirgoGamePicture">
      </div>
    </div>
  </div>
</p-card>
<h1 *ngIf="!this.virgiCard">{{virgoErrorMessage}}</h1>
