.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .card-image {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .virgo-data {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 1rem 2rem;
  }
}

.ui-card {
  background-color: rgba(0, 0, 0, 0.61) !important;
  color: rgb(174, 174, 174) !important;
}
