<div class="normal-search">
  <!-- <div class="search-bar">
    <input class="virgi-search" type="text" pInputText [(ngModel)]="searchText" placeholder="Escriba su virgi-busqueda aqui"/>
    <p-button label="Buscar" (onClick)="executeSearch()" ></p-button>
  </div> -->
  <div class="container" id="grid" *ngIf="!showCardDetail">
    <div class="slifer-container">
      <app-gods-icons [godIdentifier]="gods[0]" [actionName]="actions[0]"></app-gods-icons>
    </div>
    <div class="obelisk-container">
      <app-gods-icons [godIdentifier]='gods[1]' [actionName]="actions[1]"></app-gods-icons>
    </div>
    <div class="ra-container">
      <app-gods-icons [godIdentifier]='gods[2]' [actionName]="actions[2]"></app-gods-icons>
    </div>
  </div>
  <button pButton type="button" (click)="goToAdvancedSearch()" label="Realizar un Virgo Busqueda" class="ui-button-rounded"></button>
</div>
