@import '../../../assets/keyframes.scss';

.loading-label {
  font-size: 5rem;
  font-family: squealer-cheta;
  color: white;
  animation: flashing 2s infinite alternate;
}

.loaded-label {
  font-size: 5rem;
  font-family: squealer-cheta;
  color: green;
  animation: dancing 1s linear infinite;
  position: absolute;
}