.container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;

  .logo {
    width: 80vw;
  }

  .login {
    justify-self: center;
    margin: 1rem;

    .actions {
      text-align: center;
      margin: 1rem;
    }
  }

  .ui-dropdown {
    width: 280px;
  }

  .ui-inputtext{
    background: #181818;
    color: white;
  }

  .ui-dropdown-panel {
    background: #181818;
    color: white;
  }

  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    color: white;
  }
}
