.navbar-menu-container {
  display: flex;

  .logo-img {
    height: 30px;
  }

  .search-input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.ui-menubar .ui-menubar-custom {
  float: left;
  width: 100%;
}

.router-outlet {
  height: calc(100%);
  width: 100%;
  background: radial-gradient(ellipse at bottom, rgb(0, 0, 0) 0%, #414141 100%);
}
