@import 'assets/styles/variables';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  // background: radial-gradient(ellipse at bottom, rgb(0, 0, 0) 0%, #525252 100%)
  background-image: url(assets/vho-background.jpg);;
}

@font-face {
  font-family: squealer;
  src: url(assets/font/squealer.ttf) format("opentype");
}

@font-face {
  font-family: squealer-cheta;
  src: url(assets/font/squealer-cheta.ttf) format("opentype");

}
